.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    min-height: 100vh;
    background: #11101d;
    padding: 70px 15px 10px 2px;
    transition: all 0.5s ease;
}
.sidebar.active { width: 240px;  }
.body {
    position: sticky;
    margin-right: 20px;
    float: left;
    z-index: 100;
}
.sidebar .logoContent .logo {
    color: rgb(223, 153, 153);
    display: flex;
    height: 50px;
    width: 100%;
    padding-left: 30px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logoContent .logo {
    opacity: 1;
    pointer-events: none;
}
.logoContent .logo i {
    font-size: 28px;
    margin-right: 5px;
}
.logoContent .logo .nameLogo {
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
}
.sidebar #btn {
    position: absolute;
    color: rgb(3, 169, 230); 
    left: 50%;
    top: 12px;   
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn {
    left: 90%;
}
.sidebar ul {
    margin-top: 20px;
    padding-left: 0px;
}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;    
}
.sidebar ul li .tooltip {
    position: absolute;
    left: 80px;               
    top: 50%;
    transform: translateY(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: rgb(201, 232, 253);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(122, 114, 114, 0.2);
    transition: 0s;
    opacity: 0; 
    pointer-events: none;
}
.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar ul li .links {
    color: rgb(154, 219, 253);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li .links:hover {
    color: #11101d;
    background: rgb(255, 177, 177);
}
.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar.active ul li .tooltip {
    display: none;
}
.sidebar .linksName {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s esase;
    color: #fff;
}
.sidebar.active .linksName {
    opacity: 1;
    pointer-events: auto;
}
.sidebar .logoAlpha {  
    margin: 20px 0px 40px 0px;
    opacity: 0;
}
.sidebar.active .logoAlpha {
    opacity: 1;
    margin: 20px 0px 40px 0px;
    text-align: center;
}
#logoEdit {
    width: 130px;
}
.linksName:hover {
    color: #11101d;
}
.sidebar.activeLink .links {
    background: rgb(95, 38, 38);
}